@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); 
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\000034}}
  .stop-scrolling {
    overflow: hidden; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\000038}}
    .hide {
      display: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000312}}
      header {
        background-color: black;
        color: white;
        width: 100vw;
        display: flex;
        justify-content: center;
        height: 80px;
        margin-bottom: 30px; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000320}}
        header a {
          color: white;
          text-decoration: none; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000325}}
          header .header-container {
            width: 80vw;
            max-width: 1440px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000334}}
            header .banner {
              font-family: 'Sacramento', cursive;
              font-size: 60px; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000339}}
              header nav {
                display: flex; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000343}}
                header nav ul {
                  display: flex; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000345}}
                  header nav ul li {
                    margin: 0 10px; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000347}}
                    header nav ul li a {
                      font-family: 'Poppins', sans-serif;
                      text-decoration: none;
                      font-size: 20px;
                      background-color: black;
                      color: white;
                      padding: 5px 10px;
                      border-radius: 20px; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000357}}
                      header nav ul li .active, header nav ul li a:hover {
                        color: black;
                        background-color: white; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000370}}
  @media (max-width: 900px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000370}}
    header {
      width: 100%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000372}}
      header .header-container {
        flex-direction: column;
        justify-content: flex-start;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000375}}
        header .header-container .banner {
          margin-bottom: 10vh;
          font-size: 50px;
          width: 80vw;
          display: flex;
          justify-content: space-between;
          align-items: center;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000382}}
          header .header-container .banner label {
            display: inline;
            font-size: 42px;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000389}}
        header .header-container nav {
          display: none;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\0000390}}
          header .header-container nav ul {
            flex-direction: column;
            height: 70vh;
            justify-content: space-evenly;
            align-items: center;   }
}

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\00003106}}
  @media (max-width: 480px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\00003106}}
    header {
      transition: all 0.2s ease;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\00003108}}
      header .header-container .banner {
        width: 90vw;   }
}

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\00003120}}
  @media (max-width: 350px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\00003120}}
    header .header-container .banner {
      font-size: 40px;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/heraldjose\/Desktop\/StoryTell\/blogApp\/static\/sass\/header\.sass}line{font-family:\00003122}}
      header .header-container .banner label {
        font-size: 30px;   }
}
