{% extends "base.html" %}

{% block opengraph %}
    <!-- opengrapgh meta data -->
    {{ super() }}
    <meta property="og:title" content="StoryTell Home" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://storytell-files.s3.ap-south-1.amazonaws.com/story_tell.jpg" />
    <meta property="og:image:secure_url" content="https://storytell-files.s3.ap-south-1.amazonaws.com/story_tell.jpg" />
    <meta property="og:image:width" content="1200" />
    <!-- twitter tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="StoryTell Home">
    <meta name="twitter:image" content="https://storytell-files.s3.ap-south-1.amazonaws.com/story_tell.jpg">
{% endblock opengraph %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/postsGrids.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <h1 class="recent-posts-header">RECENT POSTS</h1>
        <div class="recents">
            {% for blog in blogs %}
                <div class="card">
                    <a href="{{ url_for('posts.blogpage', blogid = blog.id) }}" class="postlink">
                        <div class="post">
                            <img src="{{ 'https://s3-ap-south-1.amazonaws.com/storytell-files/{}'.format(blog.thumbnail) }}">
                            <h2>{{ blog.title }}</h2>
                        </div>
                    </a>
                    <div class="author-name">
                        <p>By <a href="{{ url_for('profile.profile', authorid = blog.author.id) }}">{{ blog.author.name }}</a></p>
                    </div>
                    <ul class="tags">
                        {% for tag in blog.tags %}
                            <li>
                                <a href="{{ url_for('core.search', tagName = tag.name) }}">{{ '#'+tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if prev_url %}
                <a href="{{ prev_url }}">Prev</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">Next</a>
            {% endif %}
        </div>
    </main>
{% endblock main %}
