{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/tagSearch.css')  }}">
{% endblock styles %}

{% block main %}
    <main>
        <p>
            <a href="">Tags</a>
            >
            <a href="{{ url_for('core.search', tagName = tag.name) }}">{{ tag.name }}</a>
        </p>
        <h1>
            Posts for "{{ tag }}"
        </h1>
        <div class="results">
            {% if searchResult %}
                {% for blog in searchResult %}
                    <div class="card">
                        <a href="{{ url_for('posts.blogpage', blogid = blog.id) }}" class="postlink">
                            <div class="post">
                                <img src="{{ 'https://s3-ap-south-1.amazonaws.com/storytell-files/{}'.format(blog.thumbnail) }}">
                                <h2>{{ blog.title }}</h2>
                            </div>
                        </a>
                        <div class="author-name">
                            <p>By <a href="{{ url_for('profile.profile', authorid = blog.author.id) }}">{{ blog.author.name }}</a></p>
                        </div>
                        <ul class="tags">
                            {% for tag in blog.tags %}
                                <li>
                                    <a href="{{ url_for('core.search', tagName = tag.name) }}">{{ '#'+tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-tag">
                    <p>This tag does not exist</p>
                </div>
            {% endif %}
        </div>
        <div class="pagination">
            {% if prev_url %}
                <a href="{{ prev_url }}">Prev</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">Next</a>
            {% endif %}
        </div>
    </main>
{% endblock main %}