{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/author_page.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <div class="profile-card">
            <div class="profile-headers">
                <div class="profile-pic">
                    <img src="{{ url_for('static', filename = 'assets/profile_pics/{}'.format(author.image_file)) }}" alt="profile-picture">
                </div>
                <div class="header-set-1">
                    <h1>{{ author.name }}</h1>
                <h2>{{ author.email }}</h2>
                </div>
            </div>
            <div class="profile-edit">
                {% if current_user.is_authenticated and current_user==author %}
                    <div>
                        <a href = "{{ url_for('edit_profile', authorid = author.id) }}" class="edit-about">edit</a>
                    </div>
                    {% if author.about %}
                        <p>{{ author.about|safe }}</p>
                    {% else %}
                        <p style="color: grey;">Click edit button to add profile picture and info about you</p>
                    {% endif %}
                {% else %}
                    {% if author.about %}
                        <p class="left-130px">{{ author.about|safe }}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock main %}