<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/reset_css.css') }}">
    {% block styles %}
    {% endblock styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/footer.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>MyBlog</title>
    {% endif %}
</head>
<body>
    {% block header %}
        <header class="black">
            <div class="head-container">
                <nav>
                    <div class="nav-link mobile-banner">
                        <a href="{{ url_for('index') }}" class="main-banner">
                            <h1 class="header-h1">
                                BLOGNAME
                            </h1>
                        </a>
                    </div>
                    <div class="list-wrapper">
                        <ul class="list">
                            <li class="nav-link">
                                <a href="{{ url_for('index') }}" class="options">HOME</a>
                            </li>
                            {% if current_user.is_authenticated %}
                                <li class="nav-link">
                                    <a href="{{ url_for('write') }}" class="options">WRITE</a>
                                </li>
                                <li class="nav-link">
                                    <a href="{{ url_for('profile', authorid = current_user.id) }}" class="options">PROFILE</a>
                                </li>
                                <li class="nav-link">
                                    <a href="{{ url_for('logout') }}" class="options">LOGOUT</a>
                                </li>
                            {% else %}
                                <li class="nav-link">
                                    <a href="{{ url_for('author') }}" class="options">LOGIN</a>
                                </li>
                                <li class="nav-link">
                                    <a href="{{ url_for('signup') }}" class="options">REGISTER</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
        </header>
    {% endblock header %}

    {% block main %}
    {% endblock %}

    {% block footer %}
        <footer>
            <ul>
                <li>
                    <a href="">FACEBOOK</a>
                </li>
                <li>
                    <a href="">TWITTER</a>
                </li>
                <li>
                    <a href="">INSTAGRAM</a>
                </li>
                <li>
                    <a href="">YOUTUBE</a>
                </li>
            </ul>
        </footer>
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>
</html>