{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/blogpage.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <div class="blog-container">
            <h1 class="blog-heading">
                {{ blog.title }}
            </h1>
            <div class = "post-info">
                <p>Posted by <a href="">{{ blog.author.name }}</a> </p>
            </div>
            <div class="post-info">
                <p>On {{ blog._created }}</p>
            </div>
            <div class="content">
                {{ blog.content|safe }}
            </div>
            <div class="tags">
                <ul>
                    {% for tag in blog.tags %}
                        <li>
                            <a href="{{ url_for('search', tagName = tag.name) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock main %}