<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/errors.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
        <title>Error</title>
    {% endif %}
</head>
<body>
    <main>
        {% block gif %}
            <img src="{{ url_for('static', filename = 'assets/errors/no-idea.gif') }}" alt="" srcset="">
        {% endblock %}
        {% if error_heading %}
            <h1>{{ error_heading }}</h1>
        {% else %}
            <h1>Hmmm... Something bad happened!</h1>
        {% endif %}
    </main>
</body>
</html>