{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/postsGrids.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <h1 class="recent-posts-header">RECENT POSTS</h1>
        <div class="recents">
            {% for blog in blogs %}
                <div class="card">
                    <a href="http://" class="postlink">
                        <div class="post">
                            <img src="{{ url_for('static', filename = 'assets/thumbnails/{}'.format(blog.thumbnail)) }}">
                            <h2>{{ blog.title }}</h2>
                        </div>
                    </a>
                    <ul class="tags">
                        {% for tag in blog.tags %}
                            <li>
                                <a href="">{{ '#'+tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock main %}
