{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/tagSearch.css')  }}">
{% endblock styles %}

{% block main %}
    <main>
        <p>
            <a href="">Tags</a>
            >
            <a href="{{ url_for('search', tagName = tag.name) }}">{{ tag.name }}</a>
        </p>
        <h1>
            Posts for "{{ tag.name }}"
        </h1>
        <div class="results">
            {% for blog in searchResult %}
                <div class="card">
                    <a href="{{ url_for('blogpage', blogid = blog.id) }}" class="postlink">
                        <div class="post">
                            <img src="{{ url_for('static', filename = 'assets/thumbnails/{}'.format(blog.thumbnail)) }}">
                            <h2>{{ blog.title }}</h2>
                        </div>
                    </a>
                    <div class="author-name">
                        <p>By <a href="">{{ blog.author.name }}</a></p>
                    </div>
                    <ul class="tags">
                        {% for tag in blog.tags %}
                            <li>
                                <a href="{{ url_for('search', tagName = tag.name) }}">{{ '#'+tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock main %}