{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/writeBlog.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script src="{{ url_for('static', filename = '/javascript/textarea.js') }}"></script>
{% endblock styles %}

{% block main %}
    <main>
        <form action="" method="post" class="blogInput">
            {{ form.hidden_tag() }}
            <legend>Create new post</legend>
            <fieldset>
                <div class="form-set">
                    {{ form.title.label() }}
                    {{ form.title() }}
                </div>
                <div class="form-set">
                    {{ form.editordata.label() }}
                    <div id="summernotes-container">
                        {{ form.editordata(id="summernote") }}
                    </div>
                </div>
                <div class="form-set">
                    {{ form.tags.label() }}
                    <div class="tags-container">
                        <ul></ul>
                        <input type="text" name="tag" id = "js-target">
                    </div>
                    {{ form.tags(class="hidden-input") }}
                </div>
            </fieldset>
            {{ form.post(class = 'post-btn') }}
        </form>
    </main>
{% endblock main %}

{% block script %}
    <script src="{{ url_for('static', filename = '/javascript/tags.js') }}" defer></script>
{% endblock script %}