{% extends 'base.html' %}

{% block opengraph %}
    <!-- opengrapgh meta data -->
    {{ super() }}
    <meta property="og:title" content="{{ blog.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ 'https://s3-ap-south-1.amazonaws.com/storytell-files/{}'.format(blog.thumbnail) }}" />
    <meta property="og:image:secure_url" content="{{ 'https://s3-ap-south-1.amazonaws.com/storytell-files/{}'.format(blog.thumbnail) }}" />
    <meta property="og:image:width" content="1200" />
    <meta name="twitter:card" content="summary"></meta>
{% endblock opengraph %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/blogpage.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <div class="blog-container">
            <h1 class="blog-heading">
                {{ blog.title }}
            </h1>
            <div class = "post-info">
                <p>Posted by <a href="{{ url_for('profile.profile', authorid = blog.author.id) }}">{{ blog.author.name }}</a> </p>
            </div>
            <div class="post-info">
                <p>{{ moment(blog._created).fromNow() }}</p>
            </div>
            <div class="content">
                {{ blog.content|safe }}
            </div>
            <div class="tags">
                <ul>
                    {% for tag in blog.tags %}
                        <li>
                            <a href="{{ url_for('core.search', tagName = tag.name) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if current_user == blog.author %}
            <div class="del-update-buttons">
                <div>
                    <a href = "{{ url_for('posts.update_post', blogid = blog.id) }}">update</a>
                </div>
                <div>
                    <a href = "{{ url_for('posts.delete_post', blogid = blog.id) }}">delete</a>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock main %}