{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/reset_form.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <form action="" method="post">
            <fieldset>Create New Password</fieldset>
            {{ form.hidden_tag() }}
            <div class="form-set password">
                {{ form.create_password.label() }}
                {{ form.create_password(class = 'input') }}
            </div>
            <div class="form-set password">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password(class = 'input') }}
            </div>
            {{ form.submit(class = 'submit-button') }}
        </form>
    </main>
{% endblock main %}