{% extends 'base.html' %}

{% block main %}
    <main>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-set">
                {{ form.create_password.label() }}
                {{ form.create_password }}
            </div>
            <div class="form-set">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password }}
            </div>
            {{ form.submit }}
        </form>
    </main>
{% endblock main %}