{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/reset_form.css') }}">
{% endblock styles %}

{% block main %}
    <main>
        <form action="" method="post">
            <fieldset>Reset Password</fieldset>
            {{ form.hidden_tag() }}
            <div class="form-set reset-mail">
                {{ form.email.label }}
                {{ form.email(class = 'input') }}
            </div>
            {{ form.submit(class = 'submit-button') }}
        </form>
    </main>
{% endblock main %}