@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One');
main{
    padding-top: 100px;
    width: 80vw;
    height: 70vh;
    max-width: 1440px;
    display: flex;
}
.profile-card{
    display: flex;
    flex-direction: column;
}
.profile-headers{
    display: flex;
    align-items: flex-end;
}
.profile-pic{
    height: 100px;
    width: 100px;
    margin-right: 30px;
}
.profile-card img{
    height: 100px;
    width: 100px;
    /* border-radius: 50%; */
    object-fit: cover;
}
.header-set-1 h1{
    margin-top: 20px;
    font-family: 'Fjalla One';
    letter-spacing: .08em;
    font-size: xx-large;
}
.profile-edit{
    display: flex;
}
.profile-edit p{
    max-width: 900px;
    margin-top: 30px;
    font-size: larger;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}
.left-130px{
    margin-left: 130px;
}
.profile-edit div{
    margin: 30px 30px 5px 0;
    background-color: black;
    color: white;
    min-width: 100px;
    height: 30px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-edit div:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.profile-edit div a{
    color: inherit;
    text-decoration: none;
    font-family: Verdana;   
}
@media screen and (max-width: 480px){
    .profile-headers{
        flex-direction: column;
        align-items: flex-start;
    }
    .profile-edit p{
        margin-left: 0;
    }
    main{
        margin-top: 5vh;
    }
    .profile-edit{
        flex-direction: column;
    }
    .profile-edit div{
        width: 100px;
    }
}