@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@900&display=swap');

body {
    background-color: rgb(34, 20, 20);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}

main img {
    height: 400px;
    width: 800px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
    color:  white;
    font-size: 70px;
}

@media screen and (max-width: 900px){
    h1{
        font-size: xx-large;
    }

    main img {
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width: 900px){
    h1{
        font-size: medium;
    }

    main img {
        width: 300px;
        height: 150px;
    }
}