@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
main{
    display: block;
    min-height: 80vh;
    max-width: 1440px;
    width: 80vw;
}
.recent-posts-header{
    font-size: xx-large;
    font-family: sans-serif;
    margin-top: 5vh;
}
.recents{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.post img{
    height: 225px;
    width: 400px;
    object-fit: contain;
    background-color: rgb(42, 42, 70);
}
.post{
    display: flex;
    flex-direction: column;
}
.card{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5vh 0;
    margin-right: 50px;
}
.card ul{
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
}
.post h2{
    font-family: 'Roboto Slab', serif;
    margin: 5px 0px;
    width: 400px;
    font-size: x-large;
}
.author-name{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
}
.author-name a:hover{
    color: red;
}
.tags li{
    margin-right: 10px;
}
.tags li a:hover{
    color: red;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.card a{
    text-decoration: none;
}

@media screen and (max-width: 480px){
    .recent-posts-header{
        margin-top: 10px;
        margin-left: 0;
    }
    .card{
        margin-right: 0px;
    }
    main{
        display: flex;  
        flex-direction: column;
        align-items: center;
    }
    .post img{
        height: 180px;
        width: 80vw;
    }
    .post h2{
        width: 80vw;
    }
    .postlink{
        width: 80vw;
    }
    .tags{
        width: 80vw;
    }
    .recents{
        margin: 0;
        width: 80vw;
    }
}